<a href="{{ mailinglist.get_absolute_url }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ mailinglist.mail_address }}

                {% include "partials/_favorite_badge.html" with object=mailinglist %}

            </h5>
            <h6 class="card-subtitle">{{ mailinglist.list_id }}</h6>
            <div class="card-text">Owner: {{ mailinglist.list_owner }}</div>

            {% include "partials/_dates_card-small.html" with object=mailinglist %}

        </div>
    </div>
</a>
