<a href="{{ mailinglist.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title align-items-center">
                {{ mailinglist.list_id }}

                {% include "partials/_favorite_badge.html" with object=mailinglist %}

            </h5>
            <h6 class="card-subtitle">Owner: {{ mailinglist.list_owner }}</h6>

            {% include "partials/_dates_card-small.html" with object=mailinglist %}

        </div>
    </div>
</a>
