{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="p-2">

                {% include "partials/_favorite_badge.html" with object=email %}

            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with buttons">
                <div class="btn-group" role="group" aria-label="Edit button group">

                    {% include "partials/_delete-button.html" with object=email %}

                </div>
                <div class="btn-group" role="group" aria-label="Close button group">

                    {% include "partials/_close_to_list-button.html" with object=email %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ email.message_id }}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Subject: {{ email.email_subject }}</li>
                <li class="list-group-item">Date received: {{ email.datetime|date:"d-m-Y" }}</li>
                <li class="list-group-item">X-Spam: {{ email.x_spam }}</li>
                {% if email.mailinglist %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'web:mailinglist-detail' email.mailinglist.pk %}">Mailinglist: {{ email.mailinglist.list_id }}</a>
                    </li>
                {% endif %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'web:mailbox-detail' email.mailbox.pk %}">Mailbox: {{ email.mailbox.name }}</a>
                </li>
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'web:account-detail' email.mailbox.account.pk %}">Account: {{ email.mailbox.account.mail_address }}</a>
                </li>
                {% if email.inReplyTo %}
                    <li class="list-group-item list-group-item-action">
                        <a href="{% url 'web:email-detail' email.inReplyTo.pk %}">In reply to: {{ email.inReplyTo.message_id }}</a>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <p class="d-inline-flex gap-1">
                        <button class="btn btn-primary"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#plain-text"
                                aria-expanded="false"
                                aria-controls="Show plain-text">Plaintext version</button>
                        <button class="btn btn-primary"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target=".multi-collapse"
                                aria-expanded="false"
                                aria-controls="Show plain-text and html-text">Show both</button>
                        <button class="btn btn-primary"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#html-text"
                                aria-expanded="false"
                                aria-controls="Show html-text">Html version</button>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="plain-text">
                                <div class="card card-body">{{ email.plain_bodytext }}</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="html-text">
                                <div class="card card-body">{{ email.html_bodytext }}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        {% include "partials/_dates_card-footer.html" with object=email %}

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Correspondents</h4>

                {% include "emailcorrespondents/partials/_emailcorrespondents_list.html" with emailcorrespondents=email.emailcorrespondents.all %}

            </div>
        </div>
        <div class="card">
            <div id="headers-accordion" class="card-body accordion accordion-item">
                <h4 class="card-title accordion-header">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="headers-collapse"
                            data-bs-target="#headers-collapse"
                            aria-expanded="true"
                            aria-controls="Collapse headers">Headers</button>
                </h4>
                <div id="headers-collapse"
                     class="card-body accordion-collapse collapse"
                     data-bs-parent="#headers-accordion">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">

                            {% for headername, headervalue in email.headers %}
                                <li class="list-group-item">{{ headername }}: {{ headervalue }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
