{% extends "web/bases/base_detail_with_thumbnail.html" %}

{% load i18n %}

{% block title %}
    {% translate "Attachment Details" %} -
{% endblock title %}

{% block nav_class_attachments %}
    link-light active
{% endblock nav_class_attachments %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}


{% block action_buttons %}

    {% include "web/partials/_download-button.html" %}

{% endblock action_buttons %}


{% block card_title %}
    {{ object.file_name }}
{% endblock card_title %}


{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action ">
            {% translate "Email" %}: <a href="{{ object.email.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.email.email_subject }}</a>
        </li>
        <li class="list-group-item">
            {% translate "Content Type" %}: {{ object.content_maintype }}/{{ object.content_subtype }}
        </li>
        {% if object.content_disposition %}
            <li class="list-group-item">
                {% translate "Content Disposition" %}: {{ object.content_disposition }}
            </li>
        {% endif %}
        {% if object.content_id %}
            <li class="list-group-item">{% translate "Content Id" %}: {{ object.content_id }}</li>
        {% endif %}
        <li class="list-group-item">
            {% translate "Size" %}: {{ object.datasize }} {% translate "bytes" %}
        </li>
        <li class="list-group-item">{% translate "Date received" %}: {{ object.email.datetime }}</li>
    </ul>
{% endblock card_content %}

{% block thumbnail %}

    {% include "web/attachment/partials/_thumbnail.html" with attachment=object %}

{% endblock thumbnail %}
