{% extends "web/bases/base_detail_with_thumbnail.html" %}

{% load i18n %}

{% block title %}
    {% translate "Attachment Details" %} -
{% endblock title %}

{% block nav_class_attachments %}
    link-light active
{% endblock nav_class_attachments %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}


{% block action_buttons %}

    {% include "web/partials/_download-button.html" %}

{% endblock action_buttons %}


{% block card_title %}
    {{ object.file_name }}
{% endblock card_title %}

{% block card_subtitle %}
    {% translate "MIME Content-Type" %}: {{ card_object.content_type }}
{% endblock card_subtitle %}

{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% translate "Size" %}: {{ object.datasize }} {% translate "bytes" %}
        </li>
        {% if object.content_disposition %}
            <li class="list-group-item">
                {% translate "Content Disposition" %}: {{ object.content_disposition }}
            </li>
        {% endif %}
        {% if object.content_id %}
            <li class="list-group-item">{% translate "Content Id" %}: {{ object.content_id }}</li>
        {% endif %}
        <li class="list-group-item">{% translate "Date received" %}: {{ object.email.datetime }}</li>
    </ul>
{% endblock card_content %}

{% block thumbnail %}

    {% include "web/attachment/partials/_thumbnail.html" with attachment=object %}

{% endblock thumbnail %}

{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% translate "Email" %}<i class="fa-solid fa-envelope mx-2" aria-hidden="true"></i>
            </h4>

            {% include "web/email/partials/_email_card.html" with card_object=object.email %}

        </div>
    </div>
{% endblock card_extras %}
