{% extends "web/bases/base_filter_list.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Attachments" %} -
{% endblock title %}

{% block nav_class_attachments %}
    link-light active
{% endblock nav_class_attachments %}

{% block header_title %}
    {% translate "Attachments" %}
{% endblock header_title %}

{% block header_buttons %}

    <a role="button"
       class="btn btn-outline-primary"
       href="{% url 'web:attachment-table' %}"><i class="fa-solid fa-table-list" aria-hidden="true"></i> {% translate "Table" %}</a>

{% endblock header_buttons %}

{% block action_buttons %}

    {% include "web/attachment/partials/_multi_download-button.html" %}

{% endblock action_buttons %}


{% block list %}

    {% include "web/attachment/partials/_attachment_list.html" with attachments=page_obj %}

{% endblock list %}


{% block list_alternative %}

    {% include "web/attachment/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
