venv/
env/
.venv/
.env/
test/
validation/
docs/
.vscode/
.mypy_cache/
__pycache__/
.ruff_cache/
.pytest_cache/
*.pytest_cache
*.log
.git
.gitignore
.coverage
htmlcov/
reports/
Readme.md
CONTRIBUTING.md
DEVELOPMENT.md
CODE_OF_CONDUCT.md
LICENSE
TODO.md
