venv/
env/
.venv/
.env/
test/
validation/
docs/
.vscode/
.mypy_cache/
__pycache__/
.ruff_cache/
.pytest_cache/
*.log
.git
.gitignore
.coverage
.env
htmlcov/
reports/
*.md
LICENSE
.gitea/
.gitlab/
.github/
*.patch
