image: python:3.13-alpine

default:
  interruptible: true
  before_script:
    - set -o pipefail
    - export SECRET_KEY='HELPER_KEY'
    - export PYTHONPATH='src'
    - export DJANGO_SETTINGS_MODULE='eonvelope.settings'
    - apk update && apk add --no-cache ${APK_DEPENDENCIES}
    - pip install poetry
    - poetry install --with dev

workflow:  # when the pipeline should be triggered
  rules:  # collect all rules from the jobs here
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TAG == null'
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "schedule"

variables:
  CI: "true"
  GITLAB_API_URL: "https://gitlab.com/-/project/$CI_PROJECT_ID"
  APK_DEPENDENCIES: "gettext \
    python3-dev \
    linux-headers \
    musl-dev \
    build-base \
    krb5-dev \
    mariadb-connector-c-dev \
    mariadb-dev \
    mariadb-client"
  CHECK_PATH: "tools/"
  CHECK_CONFIG_PATH: "tools/"
  CHECK_REPORT_PATH: "tools/reports/"
  TEST_PATH: "test/"
  TEST_CONFIG_PATH: "test/"
  TEST_REPORT_PATH: "test/reports/"

services:
  - docker:dind

stages:
  - check
  - build

include:
  - local: .gitlab/ci/.gitlab-ci-check-version.yml
  - local: .gitlab/ci/.gitlab-ci-fix_and_format.yml
  - local: .gitlab/ci/.gitlab-ci-lint.yml
  - local: .gitlab/ci/.gitlab-ci-test.yml
  - local: .gitlab/ci/.gitlab-ci-build.yml
  - local: .gitlab/ci/.gitlab-ci-debug-build.yml
