image: python:3.13-alpine

before_script:
  - apk update && apk add --no-cache $APK_DEPENDENCIES
  - set -o pipefail
  - export SECRET_KEY='HELPER_KEY'

workflow:  # when the pipeline should be triggered
  rules:  # collect all rules from the jobs here
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_TAG

variables:
  CI: "true"
  GITLAB_API_URL: "https://gitlab.com/-/project/$CI_PROJECT_ID"
  APK_DEPENDENCIES: 'gettext \
    python3-dev \
    linux-headers \
    musl-dev \
    gcc \
    build-base \
    mariadb-connector-c-dev \
    mariadb-dev \
    mariadb-client'
  CHECK_PATH: "validation/"
  CHECK_CONFIG_PATH: "validation/"
  CHECK_REPORT_PATH: "validation/reports/"
  TEST_PATH: "test/"
  TEST_CONFIG_PATH: "test/"
  TEST_REPORT_PATH: "test/reports/"
  DOCKER_PATH: "docker/"
  DOCKER_IMAGE_PATH: "/var/lib/docker/image/overlay2/"
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:dind

stages:
  - check_version
  - check_fixes_and_format
  - lint
  - test
  - build

include:
  - local: .gitlab/ci/.gitlab-ci-check-version.yml
  - local: .gitlab/ci/.gitlab-ci-fix_and_format.yml
  - local: .gitlab/ci/.gitlab-ci-lint.yml
  - local: .gitlab/ci/.gitlab-ci-test.yml
  - local: .gitlab/ci/.gitlab-ci-build.yml
