image: python:3.12

before_script:
  - apt update -y && apt install -y "$APT_DEPENDENCIES"
  - pip install poetry
  - set -o pipefail
  - export SECRET_KEY='HELPER_KEY'

workflow:  # when the pipeline should be triggered
  rules:  # collect all rules from the jobs here
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_TAG

variables:
  CI: "true"
  GITLAB_API_URL: "https://gitlab.com/-/project/$CI_PROJECT_ID"
  APT_DEPENDENCIES: "gettext build-essential default-mysql-client krb5-user krb5-multidev"
  CHECK_PATH: "validation/"
  CHECK_CONFIG_PATH: "validation/"
  CHECK_REPORT_PATH: "validation/reports/"
  TEST_PATH: "test/"
  TEST_CONFIG_PATH: "test/"
  TEST_REPORT_PATH: "test/reports/"
  DOCKER_PATH: "docker/"
  DOCKER_IMAGE_PATH: "/var/lib/docker/image/overlay2/"

stages:
  - check
  - check_and_commit
  - test
  - build

include:
  - local: .gitlab/ci/.gitlab-ci-check.yml
  - local: .gitlab/ci/.gitlab-ci-check_and_commit.yml
  - local: .gitlab/ci/.gitlab-ci-test.yml
  - local: .gitlab/ci/.gitlab-ci-build.yml
