{% load i18n %}

<div class="d-grid m-1">
    <button class="btn btn-outline-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasFilter"
            aria-controls="offcanvasFilter">{% translate "Show filter options" %}</button>
</div>
<hr>

{% block list %}
{% endblock list %}

<div class="offcanvas offcanvas-start"
     data-bs-scroll="true"
     tabindex="-1"
     id="offcanvasFilter"
     aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">{% translate "Filter options" %}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        {% include "partials/_filter-form.html" %}

    </div>
</div>
