{% load static i18n django_bootstrap5 %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>

            {% block title %}
            {% endblock title %}

            {% translate "Emailkasten" %}
        </title>
        {% bootstrap_css %}
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fontawesomefree/css/brands.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css" />
    </head>
    <body>

        {% include "web/partials/_navbar.html" %}

        {% bootstrap_messages %}

        <main class="container my-3">

            {% block content %}
            {% endblock content %}

            {% block overlay_elements %}
            {% endblock overlay_elements %}

        </main>

        {% include "web/partials/_footer.html" %}

        {% bootstrap_javascript %}

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>
