{% extends "web/bases/base.html" %}

{% load static i18n %}

{% block content %}

    {% block alerts %}
    {% endblock alerts %}

    <div class="card 
        {% block card_class %}{% endblock card_class %}
         ">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="align-items-center">

                {% block badges %}
                {% endblock badges %}

            </div>
            <div class="btn-toolbar align-items-center"
                 role="toolbar"
                 aria-label="{% translate 'Toolbar with button groups' %}">
                <div class="btn-group me-3"
                     role="group"
                     aria-label="{% translate 'Toolbar with button groups' %}">

                    {% block action_buttons %}
                    {% endblock action_buttons %}

                </div>
                <div class="btn-group me-3"
                     role="group"
                     aria-label="{% translate 'Edit button group' %}">

                    {% block edit_buttons %}
                    {% endblock edit_buttons %}

                    {% include "web/partials/_delete-button.html" %}

                </div>
                <div class="btn-group ms-3"
                     role="group"
                     aria-label="{% translate 'Close button group' %}">

                    {% include "web/partials/_close_to_list-button.html" %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">

                {% block card_title %}
                {% endblock card_title %}

            </h2>
            <h4 class="card-subtitle">

                {% block card_subtitle %}
                {% endblock card_subtitle %}

            </h4>

            {% block card_content %}
            {% endblock card_content %}

        </div>
        <div class="card-footer">
            <div class="card-text text-end">

                {% include "web/partials/_date_created-small.html" %}

                {% block card_footer_timestamps %}
                {% endblock card_footer_timestamps %}

            </div>
        </div>

        {% block card_extras %}
        {% endblock card_extras %}

    </div>


    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="{% static 'web/js/toggle-favorite.js' %}"></script>

        {% block other_scripts %}
        {% endblock other_scripts %}
    {% endblock scripts %}

{% endblock content %}

{% block overlay_elements %}

    {% include "web/partials/_delete-modal.html" %}

{% endblock overlay_elements %}
