{% extends "web/bases/base_list.html" %}

{% load static i18n %}

{% block header_bar %}
    <button class="btn btn-outline-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasFilter"
            aria-controls="offcanvasFilter">{% translate "Show filter options" %}</button>
{% endblock header_bar %}


{% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
        <div class="bg-white sticky-bottom pb-3">
            <hr>

            {% include "web/partials/_pagination.html" %}

        </div>
        <div class="offcanvas offcanvas-start"
             data-bs-scroll="true"
             tabindex="-1"
             id="offcanvasFilter"
             aria-labelledby="offcanvasFilterLabel">
            <div class="offcanvas-header d-flex justify-content-between">
                <h5 class="offcanvas-title" id="offcanvasFilterLabel">{% translate "Filter options" %}</h5>
                <div class="btn-group align-items-center">

                    {% include "web/partials/_clear_filter-button.html" %}

                    {% include "web/partials/_clear_and_submit_filter-button.html" %}

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
            </div>
            <div class="offcanvas-body">

                {% include "web/partials/_filter-form.html" %}

            </div>
        </div>
    {% endif %}
{% endblock pagination %}

{% block other_scripts %}
    <script src="{% static 'web/js/form-utils.js' %}"></script>

    {% block other_scripts_2 %}
    {% endblock other_scripts_2 %}

{% endblock other_scripts %}
