{% load i18n %}

<form class="d-flex" method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language as LANGUAGE_CODE %}
    <label for="language-dropdown" class="form-label visually-hidden">
        {% translate "Select Language" %}
    </label>
    <select id="language-dropdown"
            class="form-select"
            aria-label="{% translate 'Select Language' %}"
            name="language"
            onchange="this.form.submit()">
        {% get_language_info_list for LANGUAGES as languages %}

        {% for lang in languages %}
            <option lang="{{ lang.code }}"
                    {% if lang.code == LANGUAGE_CODE %}selected{% endif %}
                    value="{{ lang.code }}">{{ lang.name_local }}</option>
        {% endfor %}

    </select>
</form>
