{% extends "web/partials/layouts/_base_card_editable.html" %}

{% block card_title %}
    {{ card_object.email_address }}
{% endblock card_title %}

{% block start_badges %}

    {% include "web/partials/_favorite_badge.html" with object=card_object %}

{% endblock start_badges %}


{% block card_subtitle %}
    {% if card_object.real_name %}
        {{ card_object.real_name }}
    {% elif card_object.email_name %}
        {{ card_object.email_name }}
    {% endif %}
{% endblock card_subtitle %}
