[Unit]
Description=EmailArchiverDaemon %i
After=network.target

[Service]
ExecStart=/path/to/python3 /path/to/EmailArchiverDaemon --config /path/to/config_%i.json
WorkingDirectory=/path/to/WorkingDirectory
User=root
Group=sudo
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target