{% load static allauth %}
{% load bootstrap_css bootstrap_field bootstrap_javascript from django_bootstrap5 %}
{% load translate get_current_language from i18n %}
{% load progressive_web_app_meta from pwa %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="David Aderbauer" />
        <meta name="copyright"
              content="© 2025 David Aderbauer &amp; The Eonvelope Contributors." />
        <meta name="license" content="AGPLv3" />
        {% progressive_web_app_meta %}
        <link rel="icon" href="{% static 'eonvelope/icons/favicon.ico' %}" />
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'eonvelope/icons/favicon-32x32.png' %}" />
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'eonvelope/icons/favicon-16x16.png' %}" />
        <title>

            {% block head_title %}
            {% endblock head_title %}

            - {% translate "Eonvelope" %}
        </title>
        {% bootstrap_css %}
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fontawesomefree/css/brands.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css" />
        <script src="{% static 'web/js/bs_theme-toggler.js' %}"></script>

    </head>
    <body class="min-vh-100 d-flex flex-shrink-0 flex-column">
        <header class="sticky-top shadow">
            <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
                 role="navigation">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'web:dashboard' %}">
                        <img class="me-1"
                             src="{% static 'eonvelope/icons/favicon.svg' %}"
                             alt="{% translate "Eonvelope" %}"
                             height="26"
                             width="26" />
                        E⚬nvelope
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarText"
                            aria-controls="navbarText"
                            aria-expanded="false"
                            aria-label="{% translate 'Toggle navigation' %}">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">

                        {% include "allauth/elements/theme_dropdown.html" %}

                        <div class="navbar-nav gap-3 ms-auto align-items-end">
                            <div class="d-inline-flex align-items-center gap-1">

                                <i class="fa-solid fa-language" aria-hidden="true"></i>

                                {% include "allauth/elements/language_dropdown.html" %}

                            </div>
                            {% if user.is_authenticated %}
                                <a href="{% url 'account_logout' %}"
                                   class="btn btn-danger"
                                   role="button">{% translate "Sign Out" %}</a>
                            {% else %}
                                <a href="{% url 'account_login' %}"
                                   class="btn btn-primary"
                                   role="button">{% translate "Sign In" %}</a>
                                {% url 'account_signup' as signup_url_ %}
                                {% if signup_url_ %}
                                    <a href="{{ signup_url_ }}" class="btn btn-secondary" role="button">{% translate "Sign Up" %}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}

            {% block content %}
            {% endblock content %}
        {% endblock body %}


        {% block extra_body %}
        {% endblock extra_body %}


        {% include "web/partials/_footer.html" %}

        {% bootstrap_javascript %}

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="{% static 'web/js/timezone.js' %}"></script>

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>
