<a href="{{ attachment.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        {% if attachment.has_thumbnail %}
            <div class="row g-0">
                <div class="col-md-10">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title align-items-center">
                        {{ attachment.file_name }}

                        {% include "partials/_favorite_badge.html" with object=attachment %}

                    </h5>
                    <div class="card-text">Type: {{ attachment.content_type }}</div>
                    <div class="card-text">
                        Email: <a href="{{ attachment.email.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ attachment.email.message_id }}</a>
                    </div>
                    <div class="card-text">Date received: {{ attachment.email.datetime }}</div>

                    {% include "partials/_dates_card-small.html" with object=attachment %}

                </div>
                {% if attachment.has_thumbnail %}
                </div>
                <div class="col-md-2">
                    <img src="{{ attachment.get_absolute_thumbnail_url }}"
                         class="img-fluid rounded"
                         alt="Image attachment" />
                </div>
            </div>
        {% endif %}
    </div>
</a>
