<a href="{{ attachment.get_absolute_url }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ attachment.file_name }}

                {% include "partials/_favorite_badge.html" with object=attachment %}

            </h5>

            {% include "partials/_dates_card-p.html" with object=attachment %}

            <p class="card-text">Type: {{ attachment.content_type }}</p>
            <p class="card-text">Size: {{ attachment.datasize }} bytes</p>
        </div>
    </div>
</a>
