{% extends "web/bases/base_create.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
    {% translate "Add Account" %} -
{% endblock title %}

{% block nav_class_accounts %}
    link-light active
{% endblock nav_class_accounts %}

{% block cancel_to_list_button %}
    <a class="btn-close"
       href="{% url 'web:account-filter-list' %}"
       role="button"></a>
{% endblock cancel_to_list_button %}

{% block form %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.mail_address %}</li>
        <li class="list-group-item">{% bootstrap_field form.password %}</li>
        <li class="list-group-item">{% bootstrap_field form.mail_host %}</li>
        <li class="list-group-item">{% bootstrap_field form.protocol %}</li>
        <li class="list-group-item">{% bootstrap_field form.mail_host_port %}</li>
        <li class="list-group-item">{% bootstrap_field form.timeout %}</li>
    </ul>
{% endblock form %}

{% block cancel_form_button %}
    <a type="button"
       class="btn btn-secondary"
       href="{% url 'web:account-filter-list' %}">{% translate "Cancel" %}</a>
{% endblock cancel_form_button %}
