{% extends "web/bases/base_filter_list.html" %}

{% load i18n %}

{% block title %}
    {% translate "Accounts" %} -
{% endblock title %}

{% block header_title %}
    {% translate "Accounts" %}
{% endblock header_title %}

{% block nav_class_accounts %}
    link-light active
{% endblock nav_class_accounts %}

{% block header_buttons %}

    {% include "web/account/partials/_add_button.html" %}

{% endblock header_buttons %}


{% block list %}

    {% include "web/account/partials/_account_list.html" with accounts=page_obj %}

{% endblock list %}

{% block list_alternative %}

    {% include "web/account/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
