{% extends "web/bases/base_edit.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
    {% translate "Edit Account" %} -
{% endblock title %}

{% block nav_class_accounts %}
    link-light active
{% endblock nav_class_accounts %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}


{% block form %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.mail_address %}</li>
        <li class="list-group-item">{% bootstrap_field form.password %}</li>
        <li class="list-group-item">{% bootstrap_field form.mail_host %}</li>
        <li class="list-group-item">{% bootstrap_field form.protocol %}</li>
        <li class="list-group-item">{% bootstrap_field form.mail_host_port %}</li>
        <li class="list-group-item">{% bootstrap_field form.timeout %}</li>
    </ul>
{% endblock form %}
