{% extends "web/layouts/base_create.html" %}

{% load bootstrap_field from django_bootstrap5 %}

{% load translate from i18n %}

{% block title %}
    {% translate "Add Account" %} -
{% endblock title %}

{% block close_to_list_button %}
    <a class="btn-close"
       href="{% url 'web:account-filter-list' %}"
       role="button"></a>
{% endblock close_to_list_button %}

{% block card_title %}
    {% translate "New Account" %}
{% endblock card_title %}

{% block form %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.mail_address %}</li>
        <li class="list-group-item">{% bootstrap_field form.password %}</li>
        <li class="list-group-item">{% bootstrap_field form.mail_host %}</li>
        <li class="list-group-item">{% bootstrap_field form.protocol %}</li>
        <li class="list-group-item">{% bootstrap_field form.mail_host_port %}</li>
        <li class="list-group-item">{% bootstrap_field form.timeout %}</li>
    </ul>
{% endblock form %}

{% block cancel_form_button %}
    <a type="button"
       class="btn btn-secondary"
       href="{% url 'web:account-filter-list' %}">{% translate "Cancel" %}</a>
{% endblock cancel_form_button %}
