{% extends "web/layouts/base_detail_with_thumbnail.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Email Details" %} -
{% endblock title %}


{% block card_class %}
    {% if object.is_spam %}border-danger bg-danger-subtle{% endif %}
{% endblock card_class %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}

{% block edit_buttons %}

    {{ block.super }}

    {% include "web/email/partials/_reprocess_email-button.html" with email=object %}

{% endblock edit_buttons %}

{% block action_buttons %}

    {% include "web/partials/_download-button.html" %}

    {% include "web/email/partials/_restore_email-button.html" with email=object %}

{% endblock action_buttons %}

{% block card_title %}
    {{ object.subject }}
{% endblock card_title %}

{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% translate "Date received" %}: {{ object.datetime|date:"DATE_FORMAT" }}
        </li>
        <li class="list-group-item">
            {% translate "Time received" %}: {{ object.datetime|time:"TIME_FORMAT" }}
        </li>
        <li class="list-group-item">{% translate "Message Id" %}: {{ object.message_id }}</li>
        <li class="list-group-item">
            {% translate "Spam" %}:
            {% if object.is_spam %}
                <i class="fa-solid fa-check mx-1" aria-label={% translate "yes" %}></i>
            {% else %}
                <i class="fa-solid fa-xmark mx-1" aria-label={% translate "no" %}></i>
            {% endif %}
        </li>
        <li class="list-group-item">
            {% translate "Datasize" %}: {{ object.datasize }} {% translate "bytes" %}
        </li>
        <li class="list-group-item list-group-item-action">
            {% translate "Mailbox" %}: <a href="{{ object.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.mailbox.name }}</a>
        </li>
        <li class="list-group-item list-group-item-action">
            {% translate "Account" %}: <a href="{{ object.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.mailbox.account.complete_mail_address }}</a>
        </li>
        <div class="accordion accordion-flush" id="content-accordion">
            <li class="list-group-item accordion-item">
                <div class="accordion-header" id="plain-text-header">
                    <button class="accordion-button collapsed p-0"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#plain-text"
                            aria-expanded="true"
                            aria-controls="plain-text">{% translate "Plain bodytext" %}</button>
                </div>
                <div id="plain-text"
                     class="accordion-collapse collapse"
                     aria-labelledby="plain-text-header"
                     data-bs-parent="content-accordion">
                    <div class="accordion-body">
                        <pre class="text-wrap">{{ object.plain_bodytext }}</pre>
                    </div>
                </div>
            </li>
            <li class="list-group-item accordion-item">
                <div class="accordion-header" id="html-text-header">
                    <button class="accordion-button collapsed p-0"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#html-text"
                            aria-expanded="true"
                            aria-controls="html-text">{% translate "Html bodytext" %}</button>
                </div>
                <div id="html-text"
                     class="accordion-collapse collapse"
                     aria-labelledby="html-text-header"
                     data-bs-parent="content-accordion">
                    <div class="accordion-body">
                        <code>{{ object.html_bodytext }}</code>
                    </div>
                </div>
            </li>
        </div>
    </ul>
{% endblock card_content %}

{% block thumbnail %}
    <!--order is critical to keep style and sandbox in case of an issue with the src-->
    <iframe sandbox
            class="h-100 w-100 p-1 rounded"
            title="{% translate 'Email content' %}"
            src="{{ object.get_absolute_thumbnail_url }}"></iframe>
{% endblock thumbnail %}


{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% translate "Correspondents" %}<i class="fa-solid fa-address-book mx-2" aria-hidden="true"></i>
            </h4>

            {% include "web/emailcorrespondents/partials/_emailcorrespondents_list.html" with emailcorrespondents=object.emailcorrespondents.all %}

        </div>
    </div>
    {% if object.attachments.exists %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {% translate "Attachments" %}<i class="fa-solid fa-paperclip mx-2" aria-hidden="true"></i>
                </h4>

                {% include "web/attachment/partials/_attachment_list.html" with attachments=object.attachments.all %}

            </div>
        </div>
    {% endif %}
    <div class="card accordion" id="accordionFlushExample">
        <div class="accordion-item">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne">
                <h4 class="card-title" id="flush-headingOne">{% translate "Headers" %}</h4>
            </button>
            <div id="flush-collapseOne"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        {% for headername, headervalue in object.headers.items %}
                            <li class="list-group-item">
                                <b>{{ headername|title }}</b>: {{ headervalue }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if object.conversation.count > 1 %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between m-1">
                    <h4 class="card-title">
                        {% translate "Conversation" %}<i class="fa-solid fa-comments mx-2" aria-hidden="true"></i>
                    </h4>
                    <a role="button"
                       class="btn btn-outline-primary"
                       href="{% url 'web:email-conversation' object.pk %}">{% translate "View all" %}</a>
                </div>
                <ul class="list-group list-group-flush">
                    {% if object.in_reply_to.exists %}
                        <li class="list-group-item">
                            <h4 class="card-title">
                                {% translate "In Reply To" %}<i class="fa-solid fa-share mx-2" aria-hidden="true"></i>
                            </h4>

                            {% include "web/email/partials/_email_list.html" with emails=object.in_reply_to.all %}

                        </li>
                    {% endif %}
                    {% if object.replies.exists %}
                        <li class="list-group-item">
                            <h4 class="card-title">
                                {% translate "Replies" %}<i class="fa-solid fa-reply mx-2" aria-hidden="true"></i>
                            </h4>

                            {% include "web/email/partials/_email_list.html" with emails=object.replies.all %}

                        </li>
                    {% endif %}
                    {% if object.references.exists %}
                        <li class="list-group-item">
                            <h4 class="card-title">
                                {% translate "References" %}<i class="fa-solid fa-share mx-2" aria-hidden="true"></i>
                            </h4>

                            {% include "web/email/partials/_email_list.html" with emails=object.references.all %}

                        </li>
                    {% endif %}
                    {% if object.referenced_by.exists %}
                        <li class="list-group-item">
                            <h4 class="card-title">
                                {% translate "Referenced by" %}<i class="fa-solid fa-reply mx-2" aria-hidden="true"></i>
                            </h4>

                            {% include "web/email/partials/_email_list.html" with emails=object.referenced_by.all %}

                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock card_extras %}
