{% load i18n %}

<a href="{{ account.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center">
                <div>
                    {{ account.mail_address }}

                    {% include "partials/_favorite_badge.html" with object=account %}

                </div>
                <div>

                    {% include "partials/_health_badge.html" with object=account %}

                </div>
            </h5>
            <div class="card-text">{% translate "Protocol" %}: {{ account.protocol }}</div>

            {% include "partials/_dates_card-small.html" with object=account %}

        </div>
    </div>
</a>
