<a href="{{ mailbox.get_absolute_url }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">

                {% include "partials/_favorite_badge.html" with object=mailbox %}

                {{ mailbox.name }}

                {% include "partials/_health_badge.html" with object=mailbox %}

            </h5>
            <h6 class="card-subtitle">
                <a href="mailto:{{ correspondent.email_address }}" class="link-info">{{ mailbox.account.mail_address }}</a>
            </h6>
            <div class="card-text">Protocol: {{ mailbox.protocol }}</div>

            {% include "partials/_dates_card-small.html" with object=mailbox %}

        </div>
    </div>
</a>
