{% extends "web/partials/layouts/_base_card_editable.html" %}

{% load translate from i18n %}

{% block card_title %}
    <a href="{{ card_object.mailbox.get_absolute_url }}"
       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        {{ card_object.mailbox.name }}
    </a>
    <br />
    <a href="{{ card_object.mailbox.account.get_absolute_url }}"
       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        {{ card_object.mailbox.account.complete_mail_address }}
    </a>
{% endblock card_title %}

{% block end_badges %}

    {% include "web/daemon/partials/_is_running-badge.html" %}

    {% include "web/partials/_health_badge.html" with object=card_object %}

{% endblock end_badges %}


{% block card_subtitle %}
    {% translate "Criterion" %}: {{ card_object.get_fetching_criterion_display }}
    <br />
    {% if card_object.fetching_criterion_arg %}
        <li class="list-group-item">
            {% translate "With value" %}: {{ card_object.fetching_criterion_arg }}
        </li>
        <br />
    {% endif %}
    {% translate "Interval" %}: {{ card_object.interval | title }}
{% endblock card_subtitle %}

{% block card_content %}
    {% translate "UUID" %}: {{ card_object.uuid }}
{% endblock card_content %}
