{% extends "web/partials/bases/_base_card_with_thumbnail.html" %}

{% load translate from i18n %}

{% block card_title %}
    {{ card_object.file_name }}
{% endblock card_title %}

{% block card_subtitle %}
    <div class="card-text">{% translate "MIME Content-Type" %}: {{ card_object.content_type }}</div>
{% endblock card_subtitle %}

{% block start_badges %}

    {% include "web/partials/_favorite_badge.html" with object=card_object %}

{% endblock start_badges %}


{% block card_content %}
    <div class="card-text">
        {% translate "Datasize" %}: {{ card_object.datasize }} {% translate "bytes" %}
    </div>
    <div class="card-text">
        {% translate "In email" %}: <a href="{{ card_object.email.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ card_object.email.subject }}</a>
    </div>
    <div class="card-text">{% translate "Date received" %}: {{ card_object.email.datetime }}</div>
{% endblock card_content %}


{% block thumbnail %}

    {{ card_object.thumbnail }}

{% endblock thumbnail %}
