{% load i18n %}

<!-- content subtypes are filtered by has_thumbnail of the model -->
{% if attachment.content_maintype == "audio" %}
    <div class="d-flex justify-content-center m-5">
        <audio controls src="{{ attachment.get_absolute_thumbnail_url }}"></audio>
    </div>
{% elif attachment.content_maintype == "video" %}
    <video controls
           preload="metadata"
           class="img-thumbnail"
           src="{{ attachment.get_absolute_thumbnail_url }}">
    </video>
{% elif attachment.content_maintype == "image" %}
    <img src="{{ attachment.get_absolute_thumbnail_url }}"
         class="img-thumbnail"
         alt="{% translate 'Attachment image' %}" />
{% elif attachment.content_maintype == "text" %}
    <iframe sandbox
            class="w-100 h-100 p-1"
            title="{% translate 'Attachment text' %}"
            src="{{ attachment.get_absolute_thumbnail_url }}"></iframe>
{% elif attachment.content_maintype == "application" %}
    <embed class="w-100 h-100 p-1"
           title="{% translate 'Attachment file content' %}"
           src="{{ attachment.get_absolute_thumbnail_url }}" />
{% elif attachment.content_maintype == "font" %}
    <style>
        @font-face {
            font-family: attachment_ {
                    {
                    attachment.id
                }
            }

            ;
            src: url('{{ attachment.get_absolute_thumbnail_url }}');
        }
    </style>
    <h1 style="font-family='attachment_{{ attachment.id }}'"
        class="text-center">
        Aa
        <br />
        Zz
        <br />
        12
    </h1>
{% endif %}
