{% extends "web/partials/layouts/_base_card.html" %}

{% load translate from i18n %}

{% block card_title %}
    {{ card_object.mail_address }}
{% endblock card_title %}

{% block start_badges %}

    {% include "web/partials/_favorite_badge.html" with object=card_object %}

{% endblock start_badges %}


{% block end_badges %}

    {% include "web/partials/_health_badge.html" with object=card_object %}

{% endblock end_badges %}


{% block card_content %}
    <div class="card-text">{% translate "Protocol" %}: {{ card_object.get_protocol_display }}</div>
{% endblock card_content %}
