{% load translate from i18n %}

<button type="submit"
        class="btn btn-outline-primary"
        name="update_mailboxes"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="{% translate 'Update the mailboxes in this account.' %}"
        {% if not account.is_healthy %}disabled{% endif %}>
    {% translate "Mailboxes" as button_text %}

    {% include "web/partials/_spinner-text.html" with text=button_text %}

    <i class="fa-solid fa-rotate-right mx-1" aria-hidden="true"></i>
</button>
