{% load i18n %}

<a href="{{ daemon.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title me-1">{{ daemon.uuid }}</h5>
                <div>

                    {% include "web/daemon/partials/_is_running-badge.html" %}

                    {% include "web/partials/_health_badge.html" with object=daemon %}

                </div>
            </div>
            <h6 class="card-subtitle">
                {% translate "Mailbox" %}: <a href="{{ daemon.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ daemon.mailbox.name }}</a>
                <br>
                {% translate "Account" %}: <a href="{{ daemon.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ daemon.mailbox.account.mail_address }}</a>
            </h6>
            <div class="card-text">{% translate "Criterion" %}: {{ daemon.fetching_criterion }}</div>

            {% include "web/partials/_dates_card-small.html" with object=daemon %}

        </div>
    </div>
</a>
