{% load i18n %}

{% if start_result %}
    <div class="alert alert-{% if start_result.status %}success{% else %}warning{% endif %} alert-dismissible"
         role="alert">
        {% if start_result.status %}
            {% translate "Daemon started successfully" %}
        {% else %}
            {% translate "Daemon was already running" %}
        {% endif %}
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
{% endif %}
