{% extends "web/bases/base_filter_list.html" %}

{% load i18n %}

{% block title %}
    {% translate "Emails" %} -
{% endblock title %}

{% block header_title %}
    {% translate "Emails" %}
{% endblock header_title %}

{% block header_buttons %}
    <a role="button"
       class="btn btn-outline-primary"
       href="{% url 'web:email-archive-index' %}"><i class="fa-solid fa-archive" aria-hidden="true"></i> {% translate "Archive" %}</a>
{% endblock header_buttons %}

{% block list %}

    {% include "web/email/partials/_email_list.html" with emails=page_obj %}

{% endblock list %}
