{% extends "web/partials/layouts/_base_card_with_thumbnail.html" %}

{% load translate from i18n %}

{% block card_class %}
    {% if object.is_spam %}border-danger bg-danger-subtle{% endif %}
{% endblock card_class %}

{% block card_title %}
    {{ card_object.subject }}
{% endblock card_title %}

{% block start_badges %}

    {% include "web/partials/_favorite_badge.html" with object=card_object %}

{% endblock start_badges %}


{% block card_subtitle %}
    {% translate "Mailbox" %}: <a href="{{ card_object.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ card_object.mailbox.name }}</a>
    <br />
    {% translate "Account" %}: <a href="{{ card_object.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ card_object.mailbox.account.complete_mail_address }}</a>
{% endblock card_subtitle %}


{% block card_content %}
    {% translate "Received" %}: {{ card_object.datetime|date:"SHORT_DATETIME_FORMAT" }}
{% endblock card_content %}


{% block thumbnail %}
    <!--order is critical to keep style and sandbox in case of an issue with the src-->
    <iframe sandbox
            class="h-100 w-100 p-1 rounded"
            title="{% translate 'Email content' %}"
            src="{{ card_object.get_absolute_thumbnail_url }}"></iframe>
{% endblock thumbnail %}
