{% load translate from i18n %}

<button type="submit"
        class="btn btn-outline-primary"
        name="reprocess"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="{% translate 'Reprocess this archived email to find connections with emails that have been archived later' %}">

    {% translate "Reprocess" as button_text %}

    {% include "web/partials/_spinner-text.html" with text=button_text %}

    <i class="fa-solid fa-rotate-right mx-1" aria-hidden="true"></i>
</button>
