{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>

                {% include "partials/_favorite_badge.html" with object=attachment %}

            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with buttons">
                <div class="btn-group me-3" role="group" aria-label="Action button group">

                    {% include "partials/_download-button.html" with object=attachment %}

                </div>
                <div class="btn-group me-3" role="group" aria-label="Edit button group">

                    {% include "partials/_delete-button.html" with object=attachment %}

                </div>
                <div class="btn-group ms-3" role="group" aria-label="Close button group">

                    {% include "partials/_close_to_list-button.html" with object=attachment %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ attachment.file_name }}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action link-primary">
                    <a href="{% url 'web:email-detail' attachment.email.pk %}">Email: {{ attachment.email.message_id }}</a>
                </li>
                <li class="list-group-item">Content Type: {{ attachment.content_type }}</li>
                <li class="list-group-item">Content Disposition: {{ attachment.content_disposition }}</li>
                <li class="list-group-item">Size: {{ attachment.datasize }} bytes</li>
            </ul>
        </div>

        {% include "partials/_dates_card-footer.html" with object=form %}

    </div>

    {% include "partials/_delete-modal.html" with object=attachment %}

{% endblock content %}
