{% load i18n %}

<div class="modal fade"
     id="delete-modal"
     tabindex="-1"
     aria-labelledby="delete-modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="delete-modal-label">
                    {% blocktranslate %}Delete {{ object }}{% endblocktranslate %}
                </h2>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="{% translate 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>{% blocktranslate %}Are you sure you want to delete {{ object }}?{% endblocktranslate %}
                    </strong>
                </p>
                <p>{{ object.DELETE_NOTICE }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {% translate "Cancel" %}
                </button>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="delete">{% translate "Delete" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- _delete_button must be in the same template -->
