{% load i18n %}

{% if object.is_healthy %}
    <span class="badge bg-success text-end shadow"
          aria-label="{% translate 'Healthy' %}">
        <i class="fa-regular fa-circle-check text-light" aria-hidden="true"></i>
    </span>
{% elif object.is_healthy is False %}
    <span class="badge bg-danger text-end shadow"
          aria-label="{% translate 'Unhealthy' %}">
        <i class="fa-solid fa-triangle-exclamation text-light"
           aria-hidden="true"></i>
    </span>
{% else %}
    <span class="badge bg-secondary text-end shadow"
          aria-label="{% translate 'Health unknown' %}">
        <i class="fa-regular fa-circle-question text-light" aria-hidden="true"></i>
    </span>
{% endif %}
