{% load i18n %}

<a href="{{ email.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        {% if email.has_thumbnail %}
            <div class="row g-0">
                <div class="col-md-8">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title align-items-center">
                        {{ email.message_id }}

                        {% include "partials/_favorite_badge.html" with object=email %}

                    </h5>
                    <h6 class="card-subtitle">
                        {% translate "Mailbox" %}: <a href="{{ email.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ email.mailbox.name }}</a>
                        <br>
                        {% translate "Account" %}: <a href="{{ email.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ email.mailbox.account.mail_address }}</a>
                    </h6>
                    <div class="card-text">{% translate "Subject" %}: {{ email.email_subject }}</div>
                    <div class="card-text">{% translate "Date received" %}: {{ email.datetime }}</div>

                    {% include "partials/_dates_card-small.html" with object=email %}

                </div>
                {% if email.has_thumbnail %}
                </div>
                <div class="col-md-4">
                    <iframe src="{{ email.get_absolute_thumbnail_url }}"
                            class="h-100 w-100 rounded"
                            alt="Image for {{ email }}"></iframe>
                </div>
            </div>
        {% endif %}
    </div>
</a>
