{% extends "web/base.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
    {% translate "Edit Mailbox" %} -
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-end align-items-center">
            <div class="btn-toolbar align-items-center"
                 role="toolbar"
                 aria-label="Toolbar with buttons">
                <div class="btn-group me-3" role="group" aria-label="Edit button group">

                    {% include "web/partials/_delete-button.html" with object=mailbox %}

                    {% include "web/partials/_end_edit-button.html" with object=mailbox %}

                </div>
                <div class="btn-group ms-3" role="group" aria-label="Close button group">

                    {% include "web/partials/_close_to_list-button.html" with object=mailbox %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ mailbox.name }}</h2>
            <h3 class="card-subtitle">{{ mailbox.account.mail_address }}</h3>
            <form method="post">
                {% csrf_token %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% bootstrap_field form.save_attachments %}</li>
                    <li class="list-group-item">{% bootstrap_field form.save_toEML %}</li>
                    <li class="list-group-item">{% bootstrap_field form.save_toHTML %}</li>
                </ul>

                {% include "web/partials/_submit_edit-button.html" %}

                {% include "web/partials/_cancel_edit-button.html" with object=mailbox %}

            </form>
        </div>

        {% include "web/partials/_dates_card-footer.html" with object=mailbox %}

    </div>

    {% include "web/partials/_delete-modal.html" with object=mailbox %}

{% endblock content %}
