{% load translate from i18n %}

<div class="dropdown btn-group">
    <button class="btn btn-outline-primary dropdown-toggle {% if not mailbox.has_download %}disabled{% endif %}"
            type="button"
            id="dropdownDownloadMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="{% translate 'Download' %}"
            {% if not mailbox.has_download %}aria-disabled="true"{% endif %}>
        <i class="fa fa-download" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownDownloadMenuButton">
        {% for format, format_name in mailbox.available_download_formats %}
            <li>
                <a class="dropdown-item"
                   href="{{ mailbox.get_absolute_download_url }}?file_format={{ format }}"
                   download>{{ format_name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
