{% extends "web/partials/bases/_base_list_alternative.html" %}

{% load translate from i18n %}


{% block instruction_text %}
    {% translate "Fetch emails from this mailbox by setting up a routine or fetching the content once." %}
{% endblock instruction_text %}

{% block instruction_buttons %}

    <form method="post">
        {% csrf_token %}

        {% include "web/mailbox/partials/_fetch_dropdown.html" with mailbox=object %}

    </form>

    {% include "web/daemon/partials/_add_button.html" %}

{% endblock instruction_buttons %}
