{% load translate from i18n %}

<div class="dropdown btn-group"
     data-bs-toggle="tooltip"
     data-bs-placement="bottom"
     data-bs-title="{% translate 'Fetch and archive emails from this mailbox now' %}">
    <button class="btn btn-outline-primary dropdown-toggle"
            type="button"
            {% if not mailbox.is_healthy %}disabled{% endif %}
            id="dropdownFetchMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">{% translate 'Fetch' %}</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownFetchMenuButton">
        {% for criterion, label in mailbox.available_no_arg_fetching_criterion_choices %}
            <li>
                <button class="btn dropdown-item"
                        type="submit"
                        name="fetch"
                        value="{{ criterion }}">{{ label }}</button>
            </li>
        {% endfor %}
    </ul>
</div>
