{% extends "web/partials/layouts/_base_card_editable.html" %}

{% load translate from i18n %}

{% block card_title %}
    {{ card_object.name }}
{% endblock card_title %}

{% block start_badges %}

    {% include "web/partials/_favorite_badge.html" with object=card_object %}

{% endblock start_badges %}


{% block end_badges %}

    {% include "web/partials/_health_badge.html" with object=card_object %}

{% endblock end_badges %}


{% block card_subtitle %}
    {% translate "Account" %}: <a href="{{ card_object.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ card_object.account.complete_mail_address }}</a>
{% endblock card_subtitle %}
