{% extends "web/layouts/base_edit.html" %}

{% load bootstrap_field from django_bootstrap5 %}

{% load translate from i18n %}

{% block title %}
    {% translate "Edit Mailbox" %} -
{% endblock title %}


{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}


{% block card-title %}
    {{ object.name }}
{% endblock card-title %}


{% block card-subtitle %}
    {{ object.account.mail_address }}
{% endblock card-subtitle %}


{% block form %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.save_attachments %}</li>
        <li class="list-group-item">{% bootstrap_field form.save_to_eml %}</li>
    </ul>
{% endblock form %}
