{% extends "web/bases/base_detail_editable.html" %}

{% load i18n %}

{% block title %}
    {% translate "Mailbox Details" %} -
{% endblock title %}

{% block nav_class_mailboxes %}
    link-light active
{% endblock nav_class_mailboxes %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

    {% include "web/partials/_health_badge.html" %}

{% endblock badges %}


{% block action_buttons %}

    {% include "web/partials/_test-button.html" %}

    {% include "web/mailbox/partials/_fetch_all-button.html" with mailbox=object %}

    {% include "web/daemon/partials/_add_button.html" %}

    {% include "web/mailbox/partials/_download_dropdown.html" with mailbox=object %}

    {% include "web/mailbox/partials/_upload_email-button.html" with mailbox=object %}

{% endblock action_buttons %}


{% block card_title %}
    {{ object.name }}
{% endblock card_title %}


{% block card_subtitle %}
    {% translate "Account" %}: <a href="{{ object.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.account.mail_address }}</a>
{% endblock card_subtitle %}


{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% translate "Save attachments" %}: {{ object.save_attachments }}</li>
        <li class="list-group-item">{% translate "Save mails as .eml" %}: {{ object.save_to_eml }}</li>
    </ul>
{% endblock card_content %}


{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% translate "Daemons" %}<i class="fa-solid fa-robot mx-2" aria-hidden="true"></i>
            </h4>
            <div class="m-1">

                {% include "web/daemon/partials/_daemon_list.html" with daemons=object.daemons.all %}

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between m-1">
                <h4 class="card-title">
                    {% translate "Latest Emails" %}<i class="fa-solid fa-envelope mx-2" aria-hidden="true"></i>
                </h4>
                <a role="button"
                   class="btn btn-outline-primary"
                   href="{% url 'web:mailbox-emails' object.pk %}">{% translate "View all" %}</a>
            </div>

            {% include "web/email/partials/_email_list.html" with emails=latest_emails %}

        </div>
    </div>
{% endblock card_extras %}
