{% extends "web/bases/base_filter_list.html" %}

{% load i18n %}

{% block title %}
    {% translate "Mailboxes" %} -
{% endblock title %}

{% block nav_class_mailboxes %}
    link-light active
{% endblock nav_class_mailboxes %}

{% block header_title %}
    {% translate "Mailboxes" %}
{% endblock header_title %}

{% block list %}

    {% include "web/mailbox/partials/_mailbox_list.html" with mailboxes=page_obj %}

{% endblock list %}

{% block list_alternative %}

    {% include "web/mailbox/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
