{% extends "web/layouts/base_detail_editable.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Mailbox Details" %} -
{% endblock title %}


{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

    {% include "web/partials/_health_badge.html" %}

{% endblock badges %}


{% block action_buttons %}

    {% include "web/partials/_test-button.html" %}

    {% include "web/mailbox/partials/_fetch_dropdown.html" with mailbox=object %}

    {% include "web/mailbox/partials/_add_daemon_button.html" with mailbox=object %}

    {% include "web/mailbox/partials/_download_dropdown.html" with mailbox=object %}

    {% include "web/mailbox/partials/_upload_email-button.html" with mailbox=object %}

{% endblock action_buttons %}


{% block card_title %}
    {{ object.name }}
{% endblock card_title %}


{% block card_subtitle %}
    {% translate "Account" %}: <a href="{{ object.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.account.complete_mail_address }}</a>
{% endblock card_subtitle %}


{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% translate "Save attachments" %}
            {% if object.save_attachments %}
                <i class="fa-solid fa-check mx-1" aria-label={% translate "on" %}></i>
            {% else %}
                <i class="fa-solid fa-xmark mx-1" aria-label={% translate "off" %}></i>
            {% endif %}
        </li>
        <li class="list-group-item">
            {% translate "Save mails as .eml" %}
            {% if object.save_to_eml %}
                <i class="fa-solid fa-check mx-1" aria-label={% translate "on" %}></i>
            {% else %}
                <i class="fa-solid fa-xmark mx-1" aria-label={% translate "off" %}></i>
            {% endif %}
        </li>
        {% if object.is_healthy == False %}
            <li class="list-group-item list-group-item-danger">
                {% translate "Latest Error" %}:
                <p>
                    <code>{{ object.last_error }}</code>
                </p>
                <p>{% translate "Occurred At" %}: {{ object.last_error_occurred_at }}</p>
                <strong>{% translate "Test the mailbox to see if this error persists." %}</strong>
            </li>
        {% endif %}
    </ul>
{% endblock card_content %}


{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% translate "Routines" %}<i class="fa-solid fa-calendar-days mx-2" aria-hidden="true"></i>
            </h4>
            <div class="m-1">
                {% if object.daemons.exists %}

                    {% include "web/daemon/partials/_daemon_list.html" with daemons=object.daemons.all %}

                {% elif not object.is_healthy %}

                    {% include "web/mailbox/partials/_unhealthy_list_alternative.html" %}


                {% else %}

                    {% include "web/mailbox/partials/_daemons_list_alternative.html" %}

                {% endif %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between m-1">
                <h4 class="card-title">
                    {% translate "Latest Emails" %}<i class="fa-solid fa-envelope mx-2" aria-hidden="true"></i>
                </h4>
                {% if latest_emails %}
                    <a role="button"
                       class="btn btn-outline-primary"
                       href="{% url 'web:mailbox-emails' object.pk %}">{% translate "View all" %}</a>
                {% endif %}
            </div>
            {% if latest_emails %}

                {% include "web/email/partials/_email_list.html" with emails=latest_emails %}

            {% elif not object.is_healthy %}

                {% include "web/mailbox/partials/_unhealthy_list_alternative.html" %}

            {% else %}

                {% include "web/mailbox/partials/_emails_list_alternative.html" %}

            {% endif %}
        </div>
    </div>
{% endblock card_extras %}
