{% extends "web/layouts/base_edit.html" %}

{% load bootstrap_field from django_bootstrap5 %}

{% load translate from i18n %}

{% block title %}
    {% translate "Edit Routine" %} -
{% endblock title %}


{% block card_title %}
    {{ object.uuid }}
{% endblock card_title %}

{% block card_subtitle %}
    {% translate "Mailbox" %}: <a href="{{ object.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.mailbox.name }}</a>
    <br />
    {% translate "Account" %}: <a href="{{ object.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.mailbox.account.mail_address }}</a>
{% endblock card_subtitle %}

{% block form %}
    {{ block.super }}

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.fetching_criterion %}</li>
        <li class="list-group-item">{% bootstrap_field form.fetching_criterion_arg %}</li>
        <li class="list-group-item">{% bootstrap_field form.interval_every %}</li>
        <li class="list-group-item">{% bootstrap_field form.interval_period %}</li>
    </ul>
{% endblock form %}
