{% extends "web/layouts/base_detail_editable.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Routine Details" %} -
{% endblock title %}

{% block badges %}

    {% include "web/daemon/partials/_is_running-badge.html" with daemon=object %}

    {% include "web/partials/_health_badge.html" %}

{% endblock badges %}

{% block action_buttons %}

    {% include "web/partials/_test-button.html" %}

    {% include "web/daemon/partials/_start-button.html" with daemon=object %}

    {% include "web/daemon/partials/_stop-button.html" with daemon=object %}

{% endblock action_buttons %}

{% block card_title %}
    <a href="{{ object.mailbox.get_absolute_url }}"
       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        {{ object.mailbox.name }}
    </a>
    <br />
    <a href="{{ object.mailbox.account.get_absolute_url }}"
       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        {{ object.mailbox.account.complete_mail_address }}
    </a>
{% endblock card_title %}

{% block card_subtitle %}
    {% translate "Criterion" %}: {{ object.get_fetching_criterion_display }}
    <br />
    {% if object.fetching_criterion_arg %}
        <li class="list-group-item">{% translate "With value" %}: {{ object.fetching_criterion_arg }}</li>
        <br />
    {% endif %}
    {% translate "Interval" %}: {{ object.interval | title }}
{% endblock card_subtitle %}

{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% translate "UUID" %}: {{ object.uuid }}</li>
        <li class="list-group-item">{% translate "Last Run" %}: {{ object.celery_task.last_run_at }}</li>
        <li class="list-group-item">
            {% translate "Total Run Count" %}: {{ object.celery_task.total_run_count }}
        </li>
        {% if object.is_healthy == False %}
            <li class="list-group-item list-group-item-danger">
                {% translate "Latest Error" %}:
                <p>
                    <code>{{ object.last_error }}</code>
                </p>
                <p>{% translate "Occurred At" %}: {{ object.last_error_occurred_at }}</p>
                <strong>{% translate "Test the routine to see if this error persists." %}</strong>
            </li>
        {% endif %}
    </ul>
{% endblock card_content %}

{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% translate "Mailbox" %}<i class="fa-solid fa-inbox mx-2" aria-hidden="true"></i>
            </h4>

            {% include "web/mailbox/partials/_mailbox_card.html" with card_object=object.mailbox %}

        </div>
    </div>
{% endblock card_extras %}
