{% extends "web/bases/base_edit.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
    {% translate "Edit Daemon" %} -
{% endblock title %}

{% block nav_class_daemons %}
    link-light active
{% endblock nav_class_daemons %}

{% block card_title %}
    {{ object.uuid }}
{% endblock card_title %}

{% block card_subtitle %}
    {% translate "Mailbox" %}: <a href="{{ object.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.mailbox.name }}</a>
    <br />
    {% translate "Account" %}: <a href="{{ object.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.mailbox.account.mail_address }}</a>
{% endblock card_subtitle %}

{% block form %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.interval_every %}</li>
        <li class="list-group-item">{% bootstrap_field form.interval_period %}</li>
        <li class="list-group-item">{% bootstrap_field form.fetching_criterion %}</li>
    </ul>
{% endblock form %}
