{% extends "web/layouts/base_create.html" %}

{% load bootstrap_field from django_bootstrap5 %}

{% load translate from i18n %}

{% block title %}
    {% translate "Add Routine" %} -
{% endblock title %}

{% block close_to_list_button %}
    <a class="btn-close"
       href="{% url 'web:daemon-filter-list' %}"
       role="button"></a>
{% endblock close_to_list_button %}

{% block form %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% bootstrap_field form.mailbox %}</li>
        <li class="list-group-item">{% bootstrap_field form.fetching_criterion %}</li>
        <li class="list-group-item">{% bootstrap_field form.interval_period %}</li>
        <li class="list-group-item">{% bootstrap_field form.interval_every %}</li>
    </ul>
{% endblock form %}

{% block cancel_form_button %}
    <a type="button"
       class="btn btn-secondary"
       href="{% url 'web:daemon-filter-list' %}">{% translate "Cancel" %}</a>
{% endblock cancel_form_button %}
