{% extends "web/layouts/base_filter_list.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Routines" %} -
{% endblock title %}


{% block header_title %}
    {% translate "Routines" %}
{% endblock header_title %}

{% block header_buttons %}

    {% include "web/daemon/partials/_add_button.html" %}

{% endblock header_buttons %}

{% block list %}

    {% include "web/daemon/partials/_daemon_list.html" with daemons=page_obj %}

{% endblock list %}

{% block list_alternative %}

    {% include "web/daemon/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
