{% extends "web/bases/base_filter_list.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Routines" %} -
{% endblock title %}

{% block nav_class_daemons %}
    link-light active
{% endblock nav_class_daemons %}

{% block header_title %}
    {% translate "Routines" %}
{% endblock header_title %}

{% block header_buttons %}

    {% include "web/daemon/partials/_add_button.html" %}

    <a role="button"
       class="btn btn-outline-primary"
       href="{% url 'web:daemon-table' %}"><i class="fa-solid fa-table-list" aria-hidden="true"></i> {% translate "Table" %}</a>

{% endblock header_buttons %}

{% block list %}

    {% include "web/daemon/partials/_daemon_list.html" with daemons=page_obj %}

{% endblock list %}

{% block list_alternative %}

    {% include "web/daemon/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
