{% extends "web/bases/base_filter_list.html" %}

{% load i18n %}

{% block title %}
    {% translate "Daemons" %} -
{% endblock title %}

{% block nav_class_daemons %}
    link-light active
{% endblock nav_class_daemons %}

{% block header_title %}
    {% translate "Daemons" %}
{% endblock header_title %}

{% block header_buttons %}

    {% include "web/daemon/partials/_add_button.html" %}

{% endblock header_buttons %}

{% block list %}

    {% include "web/daemon/partials/_daemon_list.html" with daemons=page_obj %}

{% endblock list %}

{% block list_alternative %}

    {% include "web/daemon/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
