<a href="{{ emailcorrespondent.correspondent.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ emailcorrespondent.mention }}</h5>
            <h6 class="card-subtitle">
                {{ emailcorrespondent.correspondent.email_address }}
                <br>
                {{ emailcorrespondent.correspondent.email_name }}
            </h6>
        </div>
    </div>
</a>
