{% extends "web/layouts/base.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Dashboard" %} -
{% endblock title %}

{% block content %}
    {# Translators: E∘nvelope is the brand name. The ∘ is the ring operator U+2218. #}
    <h1 class="my-4">{% translate "Welcome to E∘nvelope" %}</h1>
    <div class="row justify-content-evenly">
        <div class="col-lg-9 order-2 order-lg-1">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="m-1">
                        {% translate "Latest Emails" %}<i class="fa-solid fa-envelope mx-2" aria-hidden="true"></i>
                    </h4>

                    <a role="button"
                       class="btn btn-outline-primary"
                       href="{% url 'web:email-filter-list' %}">{% translate "View all" %}</a>
                </div>
                <div class="card-body">

                    {% include "web/email/partials/_email_list.html" with emails=latest_emails %}

                </div>
            </div>
        </div>
        <div class="col-lg-3 order-1 order-lg-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-1">
                        {% translate "Statistics" %}<i class="fa-solid fa-chart-simple mx-2" aria-hidden="true"></i>
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <th scope="col">{% translate "Data" %}</th>
                            <th scope="col">{% translate "Count" %}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'web:email-filter-list' %}"
                                       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{% translate "Emails" %}</a>
                                </td>
                                <td>{{ emails_count }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'web:correspondent-filter-list' %}"
                                       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{% translate "Correspondents" %}</a>
                                </td>
                                <td>{{ correspondents_count }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'web:attachment-filter-list' %}"
                                       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{% translate "Attachments" %}</a>
                                </td>
                                <td>{{ attachments_count }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'web:account-filter-list' %}"
                                       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{% translate "Accounts" %}</a>
                                </td>
                                <td>{{ accounts_count }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'web:mailbox-filter-list' %}"
                                       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{% translate "Mailboxes" %}</a>
                                </td>
                                <td>{{ mailboxes_count }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'web:daemon-filter-list' %}"
                                       class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{% translate "Routines" %}</a>
                                </td>
                                <td>{{ daemons_count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="m-4">

                {% include "web/account/partials/_add_button.html" %}

            </div>
        </div>
    </div>
{% endblock content %}
