{% extends "web/bases/base_detail_editable.html" %}

{% load i18n %}

{% block title %}
    {% translate "Correspondent Details" %} -
{% endblock title %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}

{% block card_title %}
    <a href="mailto:{{ object.email_address }}"
       class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.email_address }}</a>
{% endblock card_title %}

{% block card_subtitle %}
    {{ object.email_name }}
{% endblock card_subtitle %}

{% block card_content %}
    {% if object.is_mailinglist %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {% translate "Subscribe" %}: <a href="mailto:{{ object.list_subscribe }}"
    class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.list_subscribe }}</a>
            </li>
            <li class="list-group-item">
                {% translate "Unsubscribe" %}: <a href="mailto:{{ object.list_unsubscribe }}"
    class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.list_unsubscribe }}</a>
            </li>
            <li class="list-group-item">
                {% translate "Post" %}: <a href="mailto:{{ object.list_post }}"
    class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.list_post }}</a>
            </li>
            <li class="list-group-item">{% translate "Archive" %}: {{ object.list_archive }}</li>
            <li class="list-group-item">{% translate "Help" %}: {{ object.list_help }}</li>
        </ul>
    {% endif %}
{% endblock card_content %}

{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between m-1">
                <h4 class="card-title">{% translate "Latest Emails" %}</h4>
                <a role="button"
                   class="btn btn-outline-primary"
                   href="{% url 'web:correspondent-emails' object.pk %}">{% translate "View all" %}</a>
            </div>

            {% include "web/emailcorrespondents/partials/_correspondentemails_list.html" with correspondentemails=latest_correspondentemails %}

        </div>
    </div>
{% endblock card_extras %}
