{% extends "web/bases/base_detail_editable.html" %}

{% load i18n %}

{% block title %}
    {% translate "Correspondent Details" %} -
{% endblock title %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}

{% block card_title %}
    <a href="mailto:{{ object.email_address }}"
       class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.email_address }}</a>
{% endblock card_title %}

{% block card_subtitle %}
    {{ object.email_name }}
{% endblock card_subtitle %}

{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% translate "Emails" %}</h4>

            {% include "web/emailcorrespondents/partials/_correspondentemails_list.html" with correspondentemails=object.correspondentemails.all %}

        </div>
    </div>
{% endblock card_extras %}
