{% extends "web/layouts/base_list.html" %}

{% load translate from i18n %}

{% load static %}

{% block header_bar %}
    <button class="btn btn-outline-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasFilter"
            aria-controls="offcanvasFilter">
        {% translate "Show filter options" %}
        <i class="fa-solid fa-filter mx-2" aria-hidden="true"></i>
    </button>
{% endblock header_bar %}


{% block overlay_elements %}
    {{ block.super }}

    <div class="offcanvas offcanvas-start"
         data-bs-scroll="true"
         tabindex="-1"
         id="offcanvasFilter"
         aria-labelledby="offcanvasFilterLabel">
        <div class="offcanvas-header d-flex justify-content-between">
            <h4 class="offcanvas-title" id="offcanvasFilterLabel">{% translate "Filter options" %}</h4>
            <div class="btn-group align-items-center">

                {% include "web/partials/_clear_filter-button.html" %}

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="{% translate 'Close' %}"></button>
            </div>
        </div>
        <div class="offcanvas-body">

            {% include "web/partials/_filter-form.html" %}

        </div>
    </div>
{% endblock overlay_elements %}


{% block scripts %}

    {{ block.super }}
    <script src="{% static 'web/js/form-utils.js' %}"></script>

{% endblock scripts %}
