<div class="card">
    {% if card_object.has_thumbnail %}
        <div class="row g-0">
            <div class="col-lg-8 d-flex flex-column order-2 order-lg-1">
            {% endif %}
            <div class="card-body d-flex flex-column text-break">
                <div class="d-flex justify-content-between">
                    <div class="d-inline-flex">
                        <h5 class="card-title me-2">
                            <a href="{{ card_object.get_absolute_url }}"
                               class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">

                                {% block card_title %}
                                {% endblock card_title %}

                            </a>
                        </h5>
                        <div>

                            {% block start_badges %}
                            {% endblock start_badges %}

                        </div>
                    </div>
                    <div>

                        {% block end_badges %}
                        {% endblock end_badges %}

                    </div>
                </div>
                <h6 class="card-subtitle">

                    {% block card_subtitle %}
                    {% endblock card_subtitle %}

                </h6>
                <div class="mt-auto">

                    {% block card_content %}
                    {% endblock card_content %}

                </div>
                <div class="card-text d-flex flex-column flex-lg-row justify-content-end text-end mt-auto">

                    {% include "web/partials/_date_created-small.html" with object=card_object %}

                    {% block card_timestamps %}
                    {% endblock card_timestamps %}

                </div>

            </div>
            {% if card_object.has_thumbnail %}
            </div>
            <div class="col-lg-4 order-1 order-lg-2">

                {% block thumbnail %}
                {% endblock thumbnail %}

            </div>
        </div>
    {% endif %}
</div>
