{% extends "allauth/layouts/manage.html" %}

{% load allauth %}

{% load bootstrap_field from django_bootstrap5 %}

{% load translate from i18n %}

{% block nav_class_profile %}
    {{ block.super }} active
{% endblock nav_class_profile %}

{% block head_title %}
    {% translate "Profile" %}
{% endblock head_title %}

{% block content %}
    <h1 class="my-4">{% translate "Your Profile" %}</h1>
    <h3>{% translate "Third Party Integrations" %}</h3>
    <form method="post">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>Paperless</h4>
                {% bootstrap_field form.paperless_url %}
                {% bootstrap_field form.paperless_api_key %}
                {% bootstrap_field form.paperless_tika_enabled %}
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>Immich</h4>
                {% bootstrap_field form.immich_url %}
                {% bootstrap_field form.immich_api_key %}
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>Nextcloud</h4>
                {% bootstrap_field form.nextcloud_url %}
                {% bootstrap_field form.nextcloud_username %}
                {% bootstrap_field form.nextcloud_password %}
                {% bootstrap_field form.nextcloud_addressbook %}
            </li>
        </ul>
        {% element button type="submit" %}
        {% translate "Save" %}
    {% endelement %}
</form>
{% endblock content %}
