<a href="{{ correspondent.get_absolute_url }}"
   class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title align-items-center">
                {{ correspondent.email_address }}

                {% include "partials/_favorite_badge.html" with object=correspondent %}

            </h5>
            <h6 class="card-subtitle">{{ correspondent.email_name }}</h6>

            {% include "partials/_dates_card-small.html" with object=correspondent %}

        </div>
    </div>
</a>
