{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>

                {% include "partials/_favorite_badge.html" with object=account %}

                {% include "partials/_health_badge.html" with object=account %}

            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with buttons">
                <div class="btn-group me-3" role="group" aria-label="Edit button group">

                    {% include "partials/_delete-button.html" with object=account %}

                    {% include "partials/_edit-button.html" with object=account %}

                </div>
                <div class="btn-group ms-3" role="group" aria-label="Close button group">

                    {% include "partials/_close_to_list-button.html" with object=account %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a href="mailto:{{ account.mail_address }}" class="link-info">{{ account.mail_address }}</a>
            </h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Host: {{ account.mail_host }}</li>
                <li class="list-group-item">Protocol: {{ account.protocol }}</li>
                <li class="list-group-item">Port: {{ account.mail_host_port }}</li>
                <li class="list-group-item">Timeout: {{ account.timeout }}</li>
            </ul>
        </div>

        {% include "partials/_dates_card-footer.html" with object=account %}

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mailboxes</h4>

                {% include "mailbox/partials/_mailbox_list.html" with mailboxes=account.mailboxes.all %}

            </div>
        </div>
    </div>

    {% include "partials/_delete-modal.html" with object=account %}

{% endblock content %}
