{% extends "web/email/email_filter_list.html" %}

{% load translate from i18n %}

{% block header_subtitle %}
    {% translate "with" %} <a class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
    href="{{ correspondent.get_absolute_url }}">{{ correspondent.email_address }}</a>
{% endblock header_subtitle %}

{% block list %}

    {% include "web/emailcorrespondents/partials/_correspondentemails_list.html" with correspondentemails=page_obj %}

{% endblock list %}
