{% extends "web/bases/base_filter_list.html" %}

{% load i18n %}

{% block title %}
    {% translate "Correspondents" %} -
{% endblock title %}

{% block nav_class_correspondents %}
    link-light active
{% endblock nav_class_correspondents %}

{% block header_title %}
    {% translate "Correspondents" %}
{% endblock header_title %}

{% block list %}

    {% include "web/correspondent/partials/_correspondent_list.html" with correspondents=page_obj %}

{% endblock list %}

{% block list_alternative %}

    {% include "web/correspondent/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
