{% extends "web/bases/base_edit.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
    {% translate "Edit Correspondent" %} -
{% endblock title %}

{% block nav_class_correspondents %}
    link-light active
{% endblock nav_class_correspondents %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}


{% block card_title %}
    {{ object.email_address }}
{% endblock card_title %}


{% block form %}
    {% bootstrap_field form.real_name %}
{% endblock form %}
