{% extends "web/bases/base_filter_list.html" %}

{% load translate from i18n %}

{% block title %}
    {% translate "Correspondents" %} -
{% endblock title %}

{% block nav_class_correspondents %}
    link-light active
{% endblock nav_class_correspondents %}

{% block header_title %}
    {% translate "Correspondents" %}
{% endblock header_title %}

{% block header_buttons %}

    <a role="button"
       class="btn btn-outline-primary"
       href="{% url 'web:correspondent-table' %}"><i class="fa-solid fa-table-list" aria-hidden="true"></i> {% translate "Table" %}</a>

{% endblock header_buttons %}

{% block action_buttons %}

    {% include "web/correspondent/partials/_multi_download-button.html" %}

{% endblock action_buttons %}


{% block list %}

    {% include "web/correspondent/partials/_correspondent_list.html" with correspondents=page_obj %}

{% endblock list %}


{% block list_alternative %}

    {% include "web/correspondent/partials/_filter_list_alternative.html" %}

{% endblock list_alternative %}
