check_version_match:
  stage: check
  rules:
    - if: "$CI_COMMIT_TAG =~ /^[0-9]/"
  before_script:
    - pip install poetry
    - echo "Skip installing other dependencies"
  script:
    - echo "Checking version tags ..."
    - |
      if [[ "$(poetry version -s)" != "$CI_COMMIT_TAG" ]]; then
        echo "The version tag does not match the project version!"
        exit 1
      fi
    - echo "Successfully compared version tags."
