test_codebase:
  stage: check
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
    - if: $CI_COMMIT_TAG
  script:
    - poetry install --with test
    - echo "Testing codebase ..."
    - mkdir -p $TEST_REPORT_PATH
    - poetry run pytest $TEST_PATH --config-file $TEST_CONFIG_PATH"pytest.ini" | tee $TEST_REPORT_PATH"pytest_test.ansi"
    - echo "Successfully tested codebase."
  artifacts:
    paths:
      - "$TEST_REPORT_PATH"
    when: always
    expire_in: 30 days
  retry: 1
  coverage: '/^\d+(?:\.\d+)?\s*$/'
