check_and_commit_codebase:
  stage: check_and_commit
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - echo "Checking codebase ..."
    - poetry install --with=dev
    - mkdir -p $CHECK_REPORT_PATH
    - poetry run ruff check --config=$CHECK_CONFIG_PATH'ruff.toml' > $CHECK_REPORT_PATH'ruff_check.ansi' || true
    - poetry run black --config=$CONFIG_PATH'black_config' . > $REPORT_PATH'black_precommit.ansi'
    - poetry run pylint --rcfile=$CHECK_CONFIG_PATH'pylintrc_code' > $CHECK_REPORT_PATH'pylint_code_check.ansi'
    - poetry run pylint --rcfile=$CHECK_CONFIG_PATH'pylintrc_docs' > $CHECK_REPORT_PATH'pylint_docs_check.ansi'
    - poetry run  mypy --config-file $CHECK_CONFIG_PATH'mypy.ini' > $CHECK_REPORT_PATH'mypy/mypy_check.ansi'  || true
    - poetry run djlint --reformat --configuration $CHECK_CONFIG_PATH'djlintrc' > $CHECK_REPORT_PATH'djlint_check.ansi' || true
    - poetry run djlint --lint --configuration $CHECK_CONFIG_PATH'djlintrc' >> $CHECK_REPORT_PATH'djlint_check.ansi'
    - poetry run doc8 --config $CHECK_CONFIG_PATH'doc8.ini' docs/ >> $CHECK_REPORT_PATH'doc8_check.ansi' || true
    - poetry run codespell --config=$CHECK_CONFIG_PATH'.codespellrc' Emailkasten/ core/ api/ web/ test/ docs/ .gitea/ .github/ .gitlab/ *.md >> $CHECK_REPORT_PATH'codespell_check.ansi' || true
    - echo "Successfully checked codebase."
    - git add .
    - |
      if [[ $(git diff --name-only --cached) ]]; then
        echo "Commiting changes to codebase ..."
        git commit -m "CI: Cleanup by pipeline"
        git push origin HEAD:$CI_COMMIT_REF_NAME
        echo "Successfully commit changes to codebase."
      else
        echo "No changes"
      fi
  artifacts:
    paths:
      - "$CHECK_REPORT_PATH"
    expire_in: 30 days
