build_docker:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Building docker image ..."
    - cd $DOCKER_PATH
    - docker compose -f docker-compose.build.yml build
    - |
      if [ $CI_COMMIT_BRANCH == "master" ]; then
        echo "Releasing docker image ..."
        docker tag emailkasten dacid99/emailkasten:latest
        docker tag emailkasten dacid99/emailkasten:$CI_COMMIT_TAG
        echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u $DOCKER_HUB_USER --password-stdin
        echo "Successfully released docker image."
      fi
  artifacts:
    paths:
      - "$DOCKER_IMAGE_PATH"
    expire_in: 30 days
