fix_and_format_codebase:
  stage: check_fixes_and_format
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - export PYTHONPATH=$PWD'/src/'
    - echo "Checking for fixes and formatting ..."
    - poetry install --with=dev
    - mkdir -p $CHECK_REPORT_PATH
    - poetry run codespell -s --config=$CHECK_CONFIG_PATH'.codespellrc' src/ test/ docs/ .gitea/ .github/ .gitlab/ *.md > $CHECK_REPORT_PATH'codespell_check.ansi' || true
    - poetry run black . --config=$CHECK_CONFIG_PATH'black_config' --diff --color > $CHECKREPORT_PATH'black_format.ansi' || true
    - poetry run djlint src/ --check --configuration $CHECK_CONFIG_PATH'djlintrc' > $CHECK_REPORT_PATH'djlint_format.ansi' || true
    - poetry run ruff check --config=$CHECK_CONFIG_PATH'ruff.toml' --fix-only --show-fixes > $CHECK_REPORT_PATH'ruff_fix.ansi' || true
    - echo "Successfully checked codebase for fixes and formatting."
  artifacts:
    paths:
      - "$CHECK_REPORT_PATH"
    when: always
    expire_in: 30 days
