check_and_commit_codebase:
  stage: check_and_commit
  only:
    - tags
  script:
    - echo "Checking codebase ..."
    - poetry install --with=dev
    - mkdir -p $CHECK_REPORT_PATH
    - poetry run ruff check --config=$CHECK_CONFIG_PATH'ruff.toml' > $CHECK_REPORT_PATH'ruff_prebuild.ansi'
    - poetry run black --config=$CONFIG_PATH'black_config' . > $REPORT_PATH'black_precommit.ansi'
      if [ $? -ne 0 ]; then
        echo "Formatting code failed, please check "$CHECK_REPORT_PATH"black_precommit.ansi ."
        exit 1
      fi
    - poetry run pylint --rcfile=$CHECK_CONFIG_PATH'pylintrc_code' > $CHECK_REPORT_PATH'pylint_code_prebuild.ansi'
    - |
      if [ $? -ne 0 ]; then
        echo "Pylint for code failed, please check "$CHECK_REPORT_PATH"pylint_code_prebuild.ansi ."
        exit 1
      fi
    - poetry run pylint --rcfile=$CHECK_CONFIG_PATH'pylintrc_docs' > $CHECK_REPORT_PATH'pylint_docs_prebuild.ansi'
    - |
      if [ $? -ne 0 ]; then
        echo "Pylint for docs failed, please check "$CHECK_REPORT_PATH"pylint_docs_prebuild.ansi ."
        exit 1
      fi
    - poetry run  mypy --config-file $CHECK_CONFIG_PATH'mypy.ini' > $CHECK_REPORT_PATH'mypy/mypy_prebuild.ansi'
    - poetry run djlint --reformat --configuration $CHECK_CONFIG_PATH'djlintrc' > $CHECK_REPORT_PATH'djlint_prebuild.ansi'
    - poetry run djlint --lint --configuration $CHECK_CONFIG_PATH'djlintrc' >> $CHECK_REPORT_PATH'djlint_prebuild.ansi'
    - |
      if [ $? -ne 0 ]; then
        echo "Djlint failed, please check "$CHECK_REPORT_PATH"djlint_prebuild.ansi ."
        exit 1
      fi
    - poetry run codespell --config=$CHECK_CONFIG_PATH'.codespellrc' Emailkasten/ core/ api/ web/ test/ docs/ .gitea/ .github/ .gitlab/ *.md >> $CHECK_REPORT_PATH'codespell_prebuild.ansi'
    - echo "Successfully checked codebase."
    - echo "Commiting changes to codebase ..."
    - git add .
    - git commit -m "CI:Cleanup by pipeline"
    - git push origin HEAD:$CI_COMMIT_REF_NAME
    - echo "Successfully commit changes to codebase."
  artifacts:
    paths:
      - "$CHECK_REPORT_PATH"
    expire_in: 30 days
