build_docker:
  stage: build
  image: docker:stable
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
  before_script:
    - echo "Skip installing dependencies"
  script:
    - echo "Building docker image ..."
    - docker build -f docker/build/Dockerfile -t emailkasten .
    - echo "Successfully built docker image."
    - echo "Releasing docker image ..."
    - docker tag emailkasten dacid99/emailkasten:latest
    - docker tag emailkasten dacid99/emailkasten:$CI_COMMIT_TAG
    - echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker push dacid99/emailkasten:latest
    - docker push dacid99/emailkasten:$CI_COMMIT_TAG
    - echo "Successfully released docker image."
