debug_build_docker:
  stage: build
  image: docker:stable
  rules:
    - if: '$CI_COMMIT_TAG =~ /^debug/'
  before_script:
    - echo "Skip installing dependencies"
  script:
    - echo "Building debug docker image ..."
    - docker build -f docker/Dockerfile -t eonvelope .
    - echo "Successfully built debug docker image."
    - echo "Releasing debug docker image ..."
    - docker tag eonvelope dacid99/eonvelope:$CI_COMMIT_TAG
    - echo "$DOCKER_HUB_ACCESS_TOKEN" | docker login -u $DOCKER_HUB_USER --password-stdin
    - docker push dacid99/eonvelope:$CI_COMMIT_TAG
    - echo "Successfully released debug docker image."
