debug_build_docker:
  stage: build
  image: docker:stable
  rules:
    - if: $CI_COMMIT_TAG && $CI_COMMIT_BRANCH == "debug"
  before_script:
    - echo "Skip installing dependencies"
  script:
    - echo "Building debug docker image ..."
    - docker build -f docker/build/Dockerfile -t emailkasten .
    - echo "Successfully built debug docker image."
    - echo "Releasing debug docker image ..."
    - docker tag emailkasten dacid99/emailkasten:debug-$CI_COMMIT_TAG
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_ACCESS_TOKEN
    - docker push dacid99/emailkasten:debug-$CI_COMMIT_TAG
    - echo "Successfully released debug docker image."
