test_codebase:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TAG == null'
    - if: $CI_COMMIT_TAG
  script:
    - echo "Testing codebase ..."
    - poetry install --with=dev
    - mkdir -p $TEST_REPORT_PATH
    - poetry run pytest $TEST_PATH --config-file $TEST_CONFIG_PATH"pytest.ini" > $TEST_REPORT_PATH"pytest_test.ansi"
    - echo "Successfully tested codebase."
  artifacts:
    paths:
      - "$TEST_REPORT_PATH"
    when: always
    expire_in: 30 days
