lint_codebase:
  stage: lint
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
  before_script:
    - pip install poetry
    - poetry install --with dev
  script:
    - echo "Checking codebase ..."
    - poetry install --with=dev
    - mkdir -p $CHECK_REPORT_PATH
    - poetry run ruff check --config=$CHECK_CONFIG_PATH'ruff.toml' > $CHECK_REPORT_PATH'ruff_check.ansi' || true
    - poetry run pylint . --rcfile=$CHECK_CONFIG_PATH'pylintrc_code' > $CHECK_REPORT_PATH'pylint_code_check.ansi'
    - poetry run pylint . --rcfile=$CHECK_CONFIG_PATH'pylintrc_docs' > $CHECK_REPORT_PATH'pylint_docs_check.ansi'
    - poetry run mypy . --config-file $CHECK_CONFIG_PATH'mypy.ini' > $CHECK_REPORT_PATH'mypy/mypy_check.ansi' || true
    - poetry run djlint . --lint --configuration $CHECK_CONFIG_PATH'djlintrc' >> $CHECK_REPORT_PATH'djlint_check.ansi'
    - poetry run doc8 --config $CHECK_CONFIG_PATH'doc8.ini' docs/ >> $CHECK_REPORT_PATH'doc8_check.ansi' || true
    - echo "Successfully checked codebase."
  artifacts:
    paths:
      - "$CHECK_REPORT_PATH"
    when: always
    expire_in: 30 days
